<div style="display: flex; flex-direction: row; width: 100%">
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
  {{example-component}}
</div>
